<div class="m-5">
    <h1 class="m-2 text-center"> CheckBox button</h1>
    <hr>

<div class="row">
        <div class="col">
            <div class="container m-3 ">
                    <h3>Basic checkbox :</h3>
            <mat-checkbox> Male </mat-checkbox>
            </div>
        </div>
        <div class="col">
                <div class="container m-3 ">
                        <h3> checkbox with <small class="text-danger" > labelPosition="before" </small> </h3>
                <mat-checkbox labelPosition="before" > Male </mat-checkbox>
                </div>
        </div>
</div>
<div class="row">
        <div class="col">
                <div class="container m-3 ">
                        <h3> checkbox Color: primary  </h3>
                <mat-checkbox color="primary" > Male </mat-checkbox>
                </div>
        </div>
        <div class="col">
                <div class="container m-3 ">
                        <h3> checkbox Color: warn  </h3>
                <mat-checkbox color="warn" > Male </mat-checkbox>
                </div>
        </div>
</div>
<hr>
<h1 class="m-2 text-center"> Radio button </h1>
<div class="row">
        <div class="col">
                <div class="container m-3">
                        <h3> Basic Radio button : </h3>
                    <mat-radio-group>
                        <mat-radio-button value="angular">Angular</mat-radio-button>
                        <mat-radio-button value="react">React</mat-radio-button>
                        
                    </mat-radio-group>
                </div>
        </div>
        <div class="col">
                <div class="container m-3">
                        <h3> Radio button colors : </h3>
                    <mat-radio-group>
                        <mat-radio-button color="primary" value="angular">Angular</mat-radio-button>
                        <mat-radio-button color="warn" value="react">React</mat-radio-button>
                    </mat-radio-group>
                </div>
        </div>
</div>


</div>
