<div class="m-5">

        <h1 class="m-2 text-center"> Input</h1>
        <hr>
    
<div class="row">
    <div class="col">
        <div class="container m-3 ">
            <h3> Basic Input : </h3>
            <mat-form-field>
                <input matInput />
            </mat-form-field>
        
        </div>
</div>

<div class="col">
<div class="container m-3 ">
    <h3> Basic Input with label : </h3>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput />
    </mat-form-field>

</div>
</div>

<div class="col">
<div class="container m-3 ">
        <h3> Basic Input with label <small class="text-danger">floatLabel="never"</small></h3>
        <mat-form-field floatLabel="never" >
            <mat-label>Name</mat-label>
            <input matInput />
        </mat-form-field>
    
</div>
</div>
</div>
<hr>
<div class="row">
<div class="col">
<div class="container m-3 ">
        <h3> Basic Input with label <small class="text-danger">floatLabel="always"</small></h3>
        <mat-form-field floatLabel="always" >
            <mat-label>Name</mat-label>
            <input matInput />
        </mat-form-field>
    
</div>
</div>


<div class="col">
<div class="container m-3 ">
        <h3>  Input <small class="text-danger">Required</small></h3>
        <mat-form-field  >
            <mat-label>Name</mat-label>
            <input matInput required />
        </mat-form-field>    
</div>
</div>

<div class="col">
        <div class="container m-3">
                <h3>  Input <small class="text-danger"> Hide Required</small></h3>
                <mat-form-field hideRequiredMarker >
                    <mat-label>Name</mat-label>
                    <input matInput required />
                </mat-form-field>    
        </div>
</div>
</div>
<hr>
<div class="row">
<div class="col">
        <div class="container m-3">
                <h3>  Input <small class="text-danger"> mat-hint default Align</small></h3>
                <mat-form-field hideRequiredMarker >
                    <mat-label>Name</mat-label>
                    <input matInput required />
                    <mat-hint>Min 10 Characters </mat-hint>
                </mat-form-field>
               
        </div>
</div>
<div class="col">
        <div class="container m-3">
                <h3>  Input <small class="text-danger"> mat-hint align end</small></h3>
                <mat-form-field >
                    <mat-label>Name</mat-label>
                    <input matInput required />
                    <mat-hint align="end" >Min 10 Characters </mat-hint>
                </mat-form-field>
               
        </div>
</div>

<div class="col">
        <div class="container m-3">
                <h3>  Input <small class="text-danger"> appearance="standard"</small></h3>
                <mat-form-field appearance="standard" >
                    <mat-label>Name</mat-label>
                    <input matInput required />
                    <mat-hint>Min 10 Characters </mat-hint>
                </mat-form-field>
               
        </div>
</div>
</div>
<hr>
<div class="row">
        <div class="col">
                <div class="container m-3">
                        <h3>  Input <small class="text-danger"> appearance="fill"</small></h3>
                        <mat-form-field appearance="fill" >
                            <mat-label>Name</mat-label>
                            <input matInput required />
                            <mat-hint>Min 10 Characters </mat-hint>
                        </mat-form-field>
                       
                </div>
        </div>
        <div class="col">
                <div class="container m-3">
                        <h3>  Input <small class="text-danger"> appearance="outline"</small></h3>
                        <mat-form-field appearance="outline" >
                            <mat-label>Name</mat-label>
                            <input matInput required />
                            <mat-hint>Min 10 Characters </mat-hint>
                        </mat-form-field>
                       
                </div>
        </div>
        <div class="col">
                <div class="container m-3">
                        <h3>  Input <small class="text-danger"> color="warn"</small></h3>
                        <mat-form-field appearance="outline" color="warn" >
                            <mat-label>Name</mat-label>
                            <input matInput required />
                            <mat-hint>Min 10 Characters </mat-hint>
                        </mat-form-field>
                       
                </div>
        </div>
</div>
<hr>
<div class="row">
    <div class="col">
            <div class="container m-3">
                    <h3>  Input <small class="text-danger"> color="accent"</small></h3>
                    <mat-form-field color="accent" appearance="outline" >
                        <mat-label>Name</mat-label>
                        <input matInput required />
                        <mat-hint>Min 10 Characters </mat-hint>
                    </mat-form-field>
                    
            </div>
</div>
    <hr>
</div>



</div>
