<!--------------------------------------- Typography--------------------------------------->
<div class="m-5">
<h1 class="m-2 text-center"> Display Classes </h1>
<hr>
<div class="container mt-3 border border-primary">
<!-- #1 Display classes -->
<div class="mat-display-4">This is Display 4</div>
<div class="mat-display-3">This is Display 3</div>
<div class="mat-display-2">This is Display 2</div>
<div class="mat-display-1">This is Display 1</div>
</div>
<hr>
<!-- #2 heading -->
<h1 class="m-2 text-center"> Heading Classes </h1>
<div class="container mt-3 border border-primary" >
<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>
</div>
<hr>
<h1 class="m-2 text-center"> Body Classes </h1>
<div class="container mt-3 border border-primary" >
<!-- #3 Body -->
<div class="mat-body-1" >this is body text</div>
<div class="mat-body-2" >this is bold body text</div>
<div class="mat-caption" >this is caption text</div>
</div>
<hr>
<!-- #4 mat-typography -->
<h1 class="m-2 text-center"> mat-typography  </h1>
<div class="container mt-3 border border-primary" >
<div class="mat-typography" >
    <h1>this is a heading for h1</h1>
    <h2>this is a heading for h2</h2>
    <h3>this is a heading for h3</h3>
    <h4>this is a heading for h4</h4>
</div>
</div>

</div>