<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular Material </a>
    
    
      

    <div class="dropdown ml-5 ">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material #1
  </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a routerLink="/typography" routerLinkActive="active" class="nav-item nav-link dropdown-item">Typography </a>
        <a routerLink="/buttons" routerLinkActive="active"  class="nav-item nav-link dropdown-item">buttons</a>
        <a routerLink="/toggleBtn" routerLinkActive="active"  class="nav-item nav-link dropdown-item">buttons Toggle</a>
        <a routerLink="/icons&Badget" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Icons & Badget</a>
        <a routerLink="/progressSpinner" routerLinkActive="active"  class="nav-item nav-link dropdown-item">progress & spinner</a>
        <a routerLink="/navbar" routerLinkActive="active"  class="nav-item nav-link dropdown-item">navbar</a>
        <a routerLink="/list" routerLinkActive="active"  class="nav-item nav-link dropdown-item">List & Grids</a>
        <a routerLink="/expansionPanel" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Panel & Cards & tabs</a>
      </div>
    </div>
    
    <div class="dropdown ml-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Material #2
        </button>
      
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a routerLink="/input" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Input</a>
                <a routerLink="/select" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Select</a>
                <a routerLink="/autoComplete" routerLinkActive="active"  class="nav-item nav-link dropdown-item">AutoComplete</a> 
                <a routerLink="/Radio&CheckBox" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Radio & CheckBox</a>
                <a routerLink="/DatePicker&tooltip" routerLinkActive="active"  class="nav-item nav-link dropdown-item">DatePicker & tooltip</a>
                <a routerLink="/SnackBar&Dialogs" routerLinkActive="active"  class="nav-item nav-link dropdown-item">SnackBar & Dialogs</a>
                <a routerLink="/DataTable" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Data Table</a>
            </div>
          </div>

      <!-- <div class="dropdown ml-5">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Projects examples
            </button>
          
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                    <a routerLink="/ResponsiveNav" routerLinkActive="active"  class="nav-item nav-link dropdown-item">Responsive Nav</a>
                   
                </div>
      </div> -->

  
  </nav>

  <router-outlet></router-outlet>


