<div class="m-5">
        <h1 class="m-2 text-center"> SnackBar</h1>
        <hr>
        <div class="row">
            <div class="col">
                <div class="container m-3 ">
                        <h3>Basic SnackBar :</h3>
                        <button mat-button (click)="openSnackbar('item deleted','Close')" > Open SnackBar </button>
                </div>
            </div>
        </div>
        <h1 class="m-2 text-center"> Dialogs</h1>
        <hr>
        <div class="row">
            <div class="col">
                <div class="container m-3">
                        <h3>Basic Dialogs :</h3>
                    <button mat-raised-button (click)="openDialog()" > Open Dialog </button>

                </div>
            </div>
        </div>
</div>
